<!-- <h1>About Golio</h1>

<h2>Founders</h2>
<div style="text-align:center;">
  <span class="about">
    <img src="assets/arielle.jpg" style="width: 200px; border-radius:50%; float: left;" />
    <h2>Arielle Dickey</h2>
    <p>Adventure-seeker, mother, and web developer</p>
    <p>arielle.l.dickey@gmail.com</p>
  </span>
  <span class="about">
    <img src="assets/kat.jpg" style="width: 200px; border-radius:50%; padding-right: 15px;" />
    <h2>Katherine Beam</h2>
    <p>k.beam@umiami.edu</p>
  </span>
  <span>
    <img src="assets/danny.jpg" style="width: 200px; border-radius:50%; float: right;" />
  </span>
</div> -->
